---
import logo from '../assets/icons/logo.svg';
import { Image } from 'astro:assets';
---

<nav class="relative flex md:max-w-[80vw] md:ml-[10vw] w-full justify-center items-center py-4 -mb-16 z-10">
    <a href="/">
        <Image src={logo} alt="Logo with text Just Meme on it" class="" />
    </a>
</nav>