---
import { Badge } from "@/components/ui/badge"

import language from "@/assets/icons/language.svg"
import template from "@/assets/icons/template.svg"
import dataretention from "@/assets/icons/dataretention.svg"

import Advantage from "@/components/Advantage.astro";
import BotSettingResponse from "@/components/settings/BotSettingsResponse.astro";

const content = {
    advantages: [
        {
            title: "Language",
            description: "Choose in what language bot will reply",
            icon: language
        },
        {
            title: "Templates",
            description: "Pick what types of memes do you want to see in your chat",
            icon: template
        },
        {
            title: "Data Retention",
            description: "Decide how long training data and images are stored",
            icon: dataretention
        }
    ]
}

const { advantages } = content;
---

<section class="flex flex-col md:flex-row items-center gap-8 md:gap-0">
    <div class="flex flex-col gap-4">
        <h2 class="text-3xl md:text-5xl font-bold">CUSTOMIZE YOUR <br><span class="text-magenta-500">EXPERIENCE</span></h2>
        <p class="text-gray-paragraph text-xl leading-9">
            <span>Control every setting per channel. Silence</span><br class="hidden md:block">
            <Badge variant="channel">💬 serious</Badge> <span>but unleash chaos in </span><Badge variant="channel">🤪 shitpost</Badge>
        </p>
        <ul class="flex flex-col gap-5">
            {
                advantages.map((advantage) => (
                        <Advantage image={advantage.icon} title={advantage.title} description={advantage.description} />
                ))
            }
        </ul>
    </div>
    <div class="fade-bottom flex flex-col w-[100%] md:w-[60%] gap-2">
        <!--<Image class="select-none pointer-events-none" src={settings} alt="Settings command menu" />-->
        <BotSettingResponse />
    </div>
</section>