---

import Checkbox from "../components/Checkbox.astro";---

<section class="hero-gradient w-full min-h-[70vh] flex flex-col items-center justify-center text-center gap-5 antialiased">
    <h1 class="uppercase tracking-tighter text-3xl md:text-7xl font-bold">Get jokes about <br/><span class="text-magenta-500">your</span> community</h1>
    <p class="text-gray-paragraph text-md w-[80vw] md:text-lg tracking-wide">Discord bot that makes memes about whatever you're chatting about.</p>
    <ul class="flex flex-wrap w-[80vw] md:flex-row gap-x-4 gap-y-2 justify-center md:gap-12 text-left">
        <Checkbox label="Easy to setup" />
        <Checkbox label="Multilanguage" />
        <Checkbox label="Open Source" />
    </ul>
</section>
