---
import { Button } from "@/components/ui/button"
import CheckboxGroup from "../components/CheckboxGroup.astro";

const content = {
    checkboxes: [
        { label: "Easy to setup" },
        { label: "Multilanguage" },
        { label: "Open Source" }
    ],
    links: {
        discord: "https://discord.com/oauth2/authorize?client_id=1375836467745783990",
        github: "https://github.com/jstmemit"
    }
}

const { checkboxes, links } = content;
---

<section class="hero-gradient relative w-full min-h-[70vh] flex flex-col items-center justify-center text-center gap-5 antialiased">
    <div class="absolute inset-0 opacity-30 pointer-events-none grid-bg"></div>
    <div class="absolute inset-0 pointer-events-none bg-gradient-radial-mask"></div>

    <div class="relative flex flex-col items-center gap-5">
        <h1 class="uppercase tracking-tighter text-3xl md:text-7xl font-bold">Get jokes about <br/><span class="text-magenta-500">your</span> community</h1>
        <p class="text-gray-paragraph text-md w-[80vw] md:text-lg tracking-wide">Discord bot that makes memes about whatever you're chatting about.</p>
        <CheckboxGroup checkboxes={checkboxes} />
        <div class="flex flex-wrap gap-4 justify-center mt-4">
            <a href={links.discord} target="_blank" rel="noopener noreferrer">
                <Button variant="discord" />
            </a>
            <a href={links.github} target="_blank" rel="noopener noreferrer">
                <Button variant="github" />
            </a>
        </div>
    </div>
</section>

<style>
    .grid-bg {
        background-size: 40px 40px;
        background-image:
                linear-gradient(to right, #e4e4e7 1px, transparent 1px),
                linear-gradient(to bottom, #e4e4e7 1px, transparent 1px);
    }

    .bg-gradient-radial-mask {
        background: radial-gradient(ellipse at center, transparent 20%, rgba(0, 0, 0, 0.1));
    }

    @media (prefers-color-scheme: dark) {
        .grid-bg {
            background-image:
                    linear-gradient(to right, #262626 1px, transparent 1px),
                    linear-gradient(to bottom, #262626 1px, transparent 1px);
        }

        .bg-gradient-radial-mask {
            background: radial-gradient(ellipse at center, transparent 50%, rgba(255, 255, 255, 0.04));
        }
    }
</style>