---
import "../styles/global.css"
---

<section class="content-gradient relative w-full flex flex-col items-center gap-5 antialiased min-h-[100vh]">
    <div class="flex flex-col p-8 py-12 px-0 md:p-8 md:py-32 w-full max-w-[80vw] md:max-w-7xl gap-8">
        <slot/>
    </div>
</section>